body{
margin: 0;
  padding: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-family: 'Unkempt',
  cursive;
  background-color: #EF8F7F5;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.remove-click {
    pointer-events: none;
}
.paw-prints {
   margin: 0 auto;
    display: none;
    text-align: center;
     max-width: 100%;
   
}
.paw-prints > img {
    display: block 
margin-left: auto 
margin-right: auto 
    text-align: center;
    height: auto;
    max-width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#btn-wrapper {
    width: 40%;
    text-align: center;
}
#paw {
   
    margin: 0;
    padding: 0;
    height: auto;
    width: 150px;
    -webkit-transition: -webkit-transform .9s ease-in-out;
    -ms-transition: -ms-transform .9s ease-in-out;
    transition: transform .9s ease-in-out;
}


.no-touch #paw:hover {
    opacity: .6;
     transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    
}

/* PET DISPLAY */
.more-pets-list {
    margin: 0 auto;
}
.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
}
.pet-data-name {
    font-size: 20px;
    font-weight: 700;
}
.pet-title {
    font-weight: bold;
}
.pet-results {
    font-weight: normal;
}
#more-pets-info ul {
    list-style: none;
}
.pet-data-breed {
    text-align: center;
}
.col-xl-4 {
    max-width: 25%;
    height: 350px;
}
.no-touch .col-xl-4:hover {
    background-color: #d1cfcd;
    border-radius: 35px;
}
.pet-data-name {
    text-align: center;
}
.pet-data-image {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
.pet-data-age-sex {
    text-align: center;
}
.pet-data-describe {
    display: inline;
}
.more-pets-list {
    padding: 5px;
}
.more-pets-list img {
    max-height: 200px;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.no-touch .more-pets-list img:hover {
    border-radius: 50%;
}
#map {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: grey;
}
footer {
    display: none;
    height: 30px;
    background-color: #DCD3D1;
    text-align: center;
    font-size: 20px;
}

/* FIRST DIV WITH IMAGE */
#main-div {
    
    width: 100%;
     height: 100vh;
    background-image: url('https://i.imgur.com/hmAuhVM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main-div h1,
#main-div p {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    color: black;
    width: 40%;
    margin-left: 50px;
    font-size: 35px;
}
#main-div h1 {
   
    text-align-last: center;
    border-bottom: 6px solid black;
   
    padding-top: 21vh;
    font-weight: 400;
    font-size: 60px;
}
.fido {
    color: #7F6F6B;
    font-weight: 700;
    font-size: 70px;
    text-shadow: 2px 2px black;
}

/* pet search form*/
#pet-search {
    position: relative;
    display: none;
    background: #DCD3D1;
    width: 100%;
    text-align: center;
    //margin: 0 auto;
    padding-bottom: 30px;
    font-size: 20px;
}
#pet-search h4 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: -15px;
}
#genderpicker {
    background-color: #FAF3F1;
}
#agepicker {
    background-color: #FAF3F1;
}
#submit {
    margin-bottom: 5px;
    background-color: #FAF3F1;
    border-radius: 5px;
    text-align: center;
    width: 100px;

}
.no-touch #submit:hover {
    background-color: whitesmoke;
}
#span-wrap span {
    display: inline-block;
}

/* clicked pet */
.results {
    margin-right: 4%;
    padding: 0;
    position: relative;
}
#close-clicked-pet {
    margin-top: 5px;
    height: auto;
    width: 100%;
    max-width: 35px;
    position: absolute;
}
#clicked-pet-info {
    font-size: 17px;
    left: 20%;
    top: 0;
    display: none;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    //height: 100%;
    border: 2px solid black;
    width: 60%;
}
#pet-details {
    margin-left: 15px;
}

#clicked-pet-info-wrapper {
    margin: 0 auto;
}
.clicked-link-pet {
    text-align: center;
}
#more-pets-info {
    font-weight: 700;
    text-align: center;
    display: none;
    padding-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
}
#more-pets-info p{
    font-size: 30px;
}
#more-pets-info li {
    padding-top: 20px;
    text-align: center;
}



#pet-image {
    padding-left: 10px;
    
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}
#pet-image > img {
    margin: 0 auto;
    border: 2px solid #d1cfcd;
    border-radius: 20px;
    max-width: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
}
#pet-name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
}
@media only screen and (max-width: 1200px) {
    #main-div h1,
    #main-div p {
        font-size: 30px;
    }
    .fido {
        font-size: 30px;
    }
    #paw {
        margin-left: 20px;
        width: 90px;
    }
}
@media only screen and (max-width: 992px) {
    #main-div h1,
    #main-div p {
        font-size: 29px;
    }
    .fido {
        font-size: 30px;
    }
    #paw {
        margin-left: 20px;
        width: 90px;
    }
    #clicked-pet-info {
        width: 70%;
        left: 15%;
    }
}
@media only screen and (max-width: 800px) {
    #clicked-pet-info {
        width: 80%;
        left: 10%;
        height: 100%;
        margin-top: 0;
    }
    .col-xl-4 {
        max-width: 33.333%
    }
    #main-div h1,
    #main-div p {
        font-size: 24px;
    }
    .fido {
        font-size: 30px;
    }
    #paw {
        margin-left: 20px;
        width: 65px;
    }
}
@media only screen and (max-width: 600px) {
    #clicked-pet-info {
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    #pet-image >img {
        margin-top: 15px;
        width: 230px;
    }
    .col-xl-4 {
        max-width: 50%
    }
    #main-div h1,
    #main-div p {
        font-size: 20px;
    }
    .fido {
        font-size: 25px;
    }
    #paw {
        width: 60px;
    }
}
@media only screen and (max-width: 500px) {
    #main-div h1,
    #main-div p {
        width: 50%;
        margin-left: 8px;
        font-size: 19px;
    }
    .fido {
        font-size: 24px;
    }
    #paw {
        width: 48px;
    }
    #pet-image >img {
        width: 220px;
    }
   
}
@media only screen and (max-width: 400px) {
    #clicked-pet-info {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    #pet-image {
        margin-top: 10px;
    }
    .fido {
        font-size: 12.4px;
    }
    #pet-image >img {
        width: 240px
    }
    
    #pet-supply {
        position: relative;
        left: auto;
        width: 100%;
    }
    .col-xl-4 {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #main-div h1, #main-div p {
        margin-left: 10px;
        font-size: 14px;
        width: 48%;
    }
    #main-div h1{
        padding-top: 15vh;
    }
   
    .fido {
        font-size: 21px;
    }
    #paw {
        width: 40px;
    }
    @media only screen and (max-width: 320px) {
        #main-div h1,
        #main-div p {
           
            font-size: 13.5px;
        }
        #main-div h1{
            padding-top: 19vh
        }
        #paw {
            margin-top: -20px;
            width: 40px;
        }
        #main-div {
            margin: 0;
            height: 100vh;
        }
       
        #pet-search {
            font-size: 15px;
            padding: 0;
        }
        #pet-search h4 {
            font-size: 20px;
        }
    }
}